// Global variables
$prim-colour: #F3614D;
$sec-colour: #283036;
$sec-colour--light-1: #363E45;
$sec-colour--light-2: #8c989e;
$sec-colour--light-3: #ddd;

$sec-colour2: #DAEEEF;

$text-colour: #555;

$border-color--light: $sec-colour--light-3;
$border-color--dark: darken(#8c989e, 25%);

$link-color: #0088cc;

$section-spacing: 3em;

$logo-shadow: #202020;

$prim-shadow-color: $logo-shadow;
$sec-shadow-color: darken($sec-colour, 7%);

$prim-font: 'Oswald', sans-serif;
$sec-font: 'Merriweather', serif;

// Global mixins
@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes $animation-name {
    @content;
  }
  @keyframes $animation-name {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  animation: #{$str};
}

@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}

@function makelongshadow($prim-colour) {
  $val: 0px 0px $prim-colour;
  @for $i from 1 through 200 {
    $val: #{$val}, #{$i}px #{$i}px #{$prim-colour};
  }
  @return $val;
}

@mixin longshadow($prim-colour) {
  text-shadow: makelongshadow($prim-colour);
}

@function makeshortshadow($prim-colour) {
  $val: 0px 0px $prim-colour;
  @for $i from 1 through 3 {
    $val: #{$val}, #{$i}px #{$i}px #{$prim-colour};
  }
  @return $val;
}

@mixin shortshadow($prim-colour) {
  text-shadow: makeshortshadow($prim-colour);
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body,
html {
    min-height: 100%;
    background: #f5f5f5;
    color: $text-colour;
    font-family: $sec-font;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.4;
    font-size: 100%;
    position: relative;
}

ul.unstyled-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
        &:last-child {
            margin-right: 0;
        }
    }
}

a {
    color: #202020;
    &:hover {
            text-decoration: none;
    }
}

h1,
h2,
h3 {
    color: $sec-colour;
    margin-top: 0;
    font-family: $prim-font;
}

h1,
h3 {
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

h2 {
    font-size: 3em;
    font-weight: normal;
    color: $prim-colour;
}

p {
    line-height: 1.65;
    font-size: 1.125em;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.wrapper {
    z-index: 1;
    position: relative;
}

.header {
    padding: 6em 0;
    color: $sec-colour--light-2;
    text-align: center;
    min-height: 69px;
    position: relative;
    border-bottom: 1px solid #ddd;
    z-index: 1;

    h1,
    h3 {
        margin-top: 0;
    }

    h1 {
        color: #202020;
    }

    h3 {
        margin-bottom: 0;
        margin-top: 0.75em;
        color: #202020;
        font-size: 1em;
        font-weight: 300;
        font-size: 0.75em;
        line-height: 1em;
        text-transform: none;
        font-family: $sec-font;
        font-style: italic;
    }

    a {
        font-family: $prim-font;
    }

    .container {
        position: relative;
        z-index: 2;
    }

}

.footer {
    text-align: center;
    border-top: 1px solid #ddd;
        margin-top: 0.75em;

    .back-to-top {
        text-transform: uppercase;
        font-size: 1em;
    }
}

.welcome {
    text-align: center;
    padding: 3em 0 6.5em;
    background: $prim-colour;
    color: #fff;
    position: relative;
    min-height: 365px;

    .container {
        position: relative;
        z-index: 1;
    }

    h2 {
        $welcome-border: 3px dashed $sec-colour;

        display: inline-block;
        text-transform: uppercase;
        margin-bottom: 10px;
        line-height: 1.25em;
        color: $sec-colour;
        font-size: 3em;
        font-weight: 500;
        @include animation(fade-slide 1.5s 1);
        position: relative;
        z-index: 1;
        letter-spacing: 0.04em;

        .header-text {
            position: relative;
            z-index: 1;
        }
        .header-shadow {
            $shadow-spacing: 2px;

            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            width: 110%;
            &__1 {
                position: absolute;
                color: $prim-colour;
                z-index: 1;
                top: $shadow-spacing;
                left: $shadow-spacing;
            }

            &__2,
            &__3 {
                position: absolute;
                z-index: 0;
                //background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIElEQVQIW2NkYGD4z8DAwMgABTAGXBAuA1OJLADS9B8AguEEBAsMPcgAAAAASUVORK5CYII=);
                background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAH0lEQVQIW2PUMDD7f+PCKUYGKAAzkAXhMjBBuABMJQD8NA2Sxwz5xQAAAABJRU5ErkJggg==);
                //background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAH0lEQVQIW2PsmTHvf0lGEiMDFIAZyIJwGZggXACmEgAOSw7Gyx7MgQAAAABJRU5ErkJggg==);
                -webkit-background-clip: text;
                background-clip: text;
                color: rgba(0,0,0,0);
            }

            &__2 {
                top: $shadow-spacing * 2;
                left: $shadow-spacing * 2;
            }

            &__3 {
                top: ($shadow-spacing * 2) + 1;
                left: ($shadow-spacing * 2) + 1;
            }
        }
    }

    @include keyframes(fade-slide) {
          0% { opacity: 0; @include translate(0, -300px); }
          40% { opacity: 0; }
          90% { opacity: 1; @include translate(0, 0); }
    }

    p {
        margin: 0;
        padding: 15px 0;
        border-top: 2px dashed rgb(241, 66, 43);
        border-bottom: 2px dashed rgb(241, 66, 43);
    }

    .highlight {
        color: $sec-colour;
        font-weight: 600;
        font-style: italic;
        text-shadow: none;
    }

    &:after {
        $triangle-width: 20px;
        content: "";
        position: absolute;
        bottom: -$triangle-width;
        left: 50%;
        margin-left: -$triangle-width;
        border-left: $triangle-width solid transparent;
        border-right: $triangle-width solid transparent;
        border-top: $triangle-width solid $prim-colour;
    }
}

.about {
    padding-bottom: $section-spacing;
    position: relative;
    border-top: 1px solid #ddd;

    .highlight {
        color: #202020;
        font-weight: 600;
    }

    .title-separator {
        h3 {
            margin-top: 0;
            text-align: center;
        }
    }

    .block-pad {
        padding-top: 0;
        p:last-child {
            margin-bottom: 0;
        }
    }

    .container,
    .title-separator {
        position: relative;
        z-index: 1;
    }

}

.about-link {
    padding-top: $section-spacing;
    font-size: 0.95em;
}

.title {

    position: relative;

    h1 {
        margin: 0;
        line-height: 1em;
        font-weight: 500;
        font-size: 1.2em;
    }
}

.nav {
    padding: 30px 0 0 0;
    font-size: 0.85em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    li {
        display: inline-block;
        vertical-align: top;
        margin-left: 0.5em;
        &:first-child {
            margin-left: 0;
        }
    }
    a {
        color: #202020;
        border-bottom: none;
        @include transition(all, 0.25s, ease-out);
    }

    .slash {
        color: #ddd;
    }
}

li.nav-list__item {
    display: inline-block;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 1em;
}

.content {
    margin-bottom: 0.5em;
}

.pure-img {
    width: 100%;
}

body .pure-g [class *="pure-u"] {
   font-family: 'Merriweather', serif;
}

.pd-column-text {
    p {
        &:first-child {
            margin-top: 0;
        }
    }
}

.block-spacing.first {
    margin-top: .75em;
    padding: 0;
    border: none;
}

.project-list {
    position: relative;
    padding-bottom: 2em;
    z-index: 1;
}

.project {

    img {
        width: 100%;
        border: 1px solid $border-color--light;
        vertical-align: bottom;
    }

    .info {
        margin-top: 30px;
        margin-bottom: 0;
    }

    h3 {
        padding-bottom: 5px;
        padding-top: 10px;
        border-bottom: 1px solid $border-color--light;
        font-weight: normal;
    }
}

.project__container {
    clear: both;
    width: 100%;
}

.block-pad {
    padding: .75em;
}

.block-spacing {
    padding-top: .75em;
    margin-top: 1em;
    border-top: 1px solid $border-color--light;
}

.info {
    font-size: 14px;
    font-family: $prim-font;
}

.copyright {
    color: #aaa;
    font-size: 0.85em;
    font-family: $sec-font;

}

.block-column {
    display: block;
}

.logo-container {
    $logo-dimensions: 150px;

    position: relative;

    .logo {

        width: $logo-dimensions;
        height: $logo-dimensions;
        background: #555;
        position: relative;
        overflow: hidden;
        margin: 0 auto 40px auto;
        @include transition(all, 0.25s, ease-in-out);

        .logo__box {
            $logo-box-dimensions: 50px;
            $logo-box-mini-dimensions: 20px;
            $logo-box-alignment: 0;
            $logo-box-width: $logo-box-mini-dimensions;

            width: $logo-dimensions - $logo-box-dimensions;
            height: $logo-dimensions - $logo-box-dimensions;
            border-color: #fff;
            border-style: solid;
            border-width: $logo-box-mini-dimensions;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -($logo-dimensions - $logo-box-dimensions) / 2;
            margin-left: -($logo-dimensions - $logo-box-dimensions) / 2;
            @include transition(all, 0.25s, ease-in-out);
            z-index: 1;

            &:before,
            &:after {

                content: "";
                width: $logo-box-width;
                height: $logo-box-width;
                background: $logo-shadow;
                position: absolute;
                z-index: 2;

            }
            &:before {
                left: $logo-box-alignment;
                top: -$logo-box-width;
            }
            &:after {
                right: $logo-box-alignment;
                bottom: -$logo-box-width;

            }

            .logo__line {
                position: absolute;
                top: 50%;
                margin-top: -$logo-box-width / 2;
                height: $logo-box-width;
                background: #fff;
                left: $logo-box-alignment;
                width: 100%;
            }

        }


        &:hover {
            @include rotate(90);
            .logo__box {
                @include rotate(-180);

            }
        }

        &:before,
        &:after {
            content: "F";
            font-size: 8.75em;
            background: #555;
            color: $logo-shadow;
            @include longshadow($logo-shadow);
            position: absolute;
            z-index: 0;
            font-family: arial;
            top: -20px;
        }

        &:before {
            left: 47px;
        }

        &:after {
            left: 14px;
        }
    }
}

.title-separator {
    padding: 3em 0 0;
    text-align: center;
    position: relative;

    h3 {
        margin-top: 0;
        line-height: 1.3em;
        position: relative;
        margin-bottom: 0;
        color: #202020;
        font-weight: normal;
        font-family: 'Oswald', sans-serif;
        margin: 0 auto;
        position: relative;
        border: none;

        &:before {
            left: 0;
        }

        &:after {
            right: 0;
        }
    }

    p {
        margin-bottom: 0;
    }
}

.title-portfolio,
.title-about {
    h3 {
        width: 6em;
        padding: 0;
        font-size: 1.5em;
    }
}

.title-portfolio {
    h3 {
        border-color: $border-color--light;
        color: #202020;
    }

}

.title-about {
    h3 {
        border-color: $border-color--light;
        color: #202020;
    }
}

.header-container {
    position: relative;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
}

.block-tag {
  padding: .75em;
}

.tags {
    padding-left: 0;
    list-style: none;
    margin: 0;
    padding-bottom: .5em;

    &-item {
      background: #555555;
      display: inline-block;
      padding: 5px 15px;
      border-radius: 3px;
      color: #fff;
      font-family: "Oswald",sans-serif;
      font-size: 12px;
      margin-right: 1px;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        cursor: default;
      }
    }

    &-link {
      padding: 0;

      a {
        padding: 5px 15px;
        display: block;
        color: #fff;
        background: #202020;
        border-radius: 3px;
        text-decoration: none;
      }

      &:hover {
        cursor: pointer;
      }
    }
}

// small - sm
@media screen and (min-width: 35.5em) {

        .project__container {
            width: 86%;
            margin: 0 7%;
        }


    .container {
        padding: 0 3em;
    }

    .block-column {
        display: inline-block;
        vertical-align: top;
    }

    .logo-container {
        $logo-spacing: 18px;
        $logo-dimensions: 35px;
        padding-left: .75em;
        margin-right: $logo-spacing - 1px;
        padding-right: $logo-spacing;

        .logo {
            margin: 0;
            width: $logo-dimensions;
            height: $logo-dimensions;

            .logo__box {
                $logo-box-dimensions: 18px;
                $logo-box-mini-dimensions: 3px;
                $logo-box-alignment: 0;
                $logo-box-width: $logo-box-mini-dimensions;

                width: $logo-dimensions - $logo-box-dimensions;
                height: $logo-dimensions - $logo-box-dimensions;
                border-width: $logo-box-mini-dimensions;
                margin-top: -($logo-dimensions - $logo-box-dimensions) / 2;
                margin-left: -($logo-dimensions - $logo-box-dimensions) / 2;

                &:before,
                &:after {
                    content: "";
                    width: $logo-box-width;
                    height: $logo-box-width;
                    background: $logo-shadow;
                    position: absolute;
                    z-index: 2;

                }

                &:before {
                    left: $logo-box-alignment;
                    top: -$logo-box-width;
                }

                &:after {
                    right: $logo-box-alignment;
                    bottom: -$logo-box-width;

                }

                .logo__line {
                    position: absolute;
                    top: 50%;
                    margin-top: -$logo-box-width / 2;
                    height: $logo-box-width;
                    background: #fff;
                    left: $logo-box-alignment;
                    width: 100%;
                }

                .logo__tri {
                    border-bottom: 3px solid transparent;
                    border-left: 3px solid transparent;
                    border-right: 3px solid #555;
                    width: 0;
                    height: 0;
                    position: absolute;
                    top: -3px;
                    left: -3px;
                    z-index: 2;
                }
            }

            &:before,
            &:after {
                font-size: 1.5em;
                top: 2px;
            }

            &:before {
                left: 14px;
            }

            &:after {
                left: 7px;
            }
        }

        &:after {
            content: "";
            height: $logo-dimensions;
            position: absolute;
            top: 50%;
            margin-top: -$logo-dimensions / 2;
            right: 0;
            width: 1px;
            background: #dddddd;
        }

    }

    .header {
        padding: 1em 0;
        text-align: left;

        h3 {
            margin-top: 0.5em;
        }
    }

    .about {
        .block-pad {
            padding: 0 $section-spacing 0 0;
        }
    }

    nav {
        padding: 1em 0;
    }

}

// medium - md
@media screen and (min-width: 48em) {

    .pd-column-text {
        padding-left: 2em;
    }

    .welcome {
        h2 {
            font-size: 3.85em;
        }
    }

    .nav {
        text-align: right;
        padding: 0.7em 0 0.5em;
    }

}

// large - lg
@media screen and (min-width: 64em) {

    .welcome {
        h2 {
            position: relative;
        }
    }
}
